extends layout

block content
  div(class='container')
        h1(style="text-align: center; color: #863A6F")= title
        - var results = results
        div(class='container' style="text-align: center;")
            div.row 
                each item, index in results
                    div(class='col-md')
                        div(class='card', style='width: 60rem;')  
                            div(class='card-body')
                                - let destination = `dispatch(\"/window/update?id=${item._id}\")`
                                div(class='card-text', onclick=`buy(${index})`) window_type: #{item["window_type"]}  <br>  size: #{item["size"]} <br> cost: #{item["cost"]} 
                                button.btn(class="btn-dark btn-sm ml-1", style="margin: 5px; width: 100px;", onclick= destination) Update 
  script.
      function buy(index){
         alert("you purchased item "+(index+1))
      }
      function dispatch(path) {
            window.location.href = path;
        }
        extends layout 
block content 
  h1=title 
  -let items = results 
  button.btn( class="btn-success ml-1",id="create" onclick= `dispatch(\"/window/create")` ) Create
  div(class="container-fluid")
  div(class="row m-1")
    each item in items
      - let destination = `dispatch(\"/window/update?id=${item._id}\")`
      div(class="row-sm-2", class="m-1") Item #{item.window_type}(#{item.size}) is #{item.cost}
        button.btn( class="btn-warning ml-1", onclick= destination) Update

  script.
    function dispatch(path)
      {
        window.location.href=path
      }
  button.btn( class="btn-success ml-1", onclick= `click(\"/window/create\")` ) Create a new Item
  table(class="table table-stripped table-bordered")
        thead(style="background-color:brown;color:white") 
           tr
               td Item ID
               td Item window_type
               td Item size
               td Item cost
               td Update
               td Details
               td Delete
           tbody
            
           each item in items
                tr
                    td #{item._id}
                    td #{item.window_type}
                    td #{item.size}
                    td #{item.cost}
                    td 
                      button.btn( class="btn-success ml-1", onclick= `dispatch(\"/window/update?id=${item._id}\")` ) Update
                    td 
                      button.btn( class="btn-success ml-1", onclick= `dispatch(\"/window/detail?id=${item._id}\")` ) Details
                    td 
                      button.btn( class="btn-success ml-1", onclick= `dispatch(\"/window/delete?id=${item._id}\")` ) Delete 
                script. 
                  function click(path){ 
                    window.location.href=path 
                  } 

  - let num=[{window_type:"round",size:"large",cost:20},{window_type:"square",size:"Small",cost:25.9},{window_type:"rectangle",size:"medium",cost:23}]
  div(class="container-fluid")
  div(class="row")
    each window,index in num 
      table(style='width:100%')
          tr 
              div(class="col-sm-2" onclick=`buy(${index})`) #{window.window_type}
              div(class="col-sm-2" onclick=`buy(${index})`) #{window.size}
              div(class="col-sm-2" onclick=`buy(${index})`) #{window.cost}

    script.

      function buy(itemNo)
      {
        alert(`You have choose ${itemNo+1}`)
      }